{
  "extends": ["airbnb", "react-app", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    // "off" or 0 - turn the rule off
    // "warn" or 1 - turn the rule on as a warning (doesn’t affect exit code)
    // "error" or 2 - turn the rule on as an error (exit code will be 1)
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/prefer-default-export": 0,
    "react/state-in-constructor": 0,
    "no-console": 1,
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "sort-imports": ["off"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    // https://stackoverflow.com/questions/63961803/eslint-says-all-enums-in-typescript-app-are-already-declared-in-the-upper-scope
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    // https://github.com/typescript-eslint/typescript-eslint/issues/2621
    "no-unused-vars": "off",
    "no-param-reassign": [
      "error",
      // All immerjs produce must use "draftState" variable name to prevent eslint error
      { "props": true, "ignorePropertyModificationsFor": ["draftState"] }
    ],
    "@typescript-eslint/no-unused-vars": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      }
    }
  }
}
